@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,600&display=swap');

:root {
    --verdeOscuro: #09707e;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}

.menu-bar {
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all 0.5s;
}

.menu-bar h1 {
    position: absolute;
    color: white;
    left: 2.5rem;
}

.menu-bar h1::before {
    content: "< ";
    color: #13d3ec;
}

.menu-bar h1::after {
    content: " />";
    color: #13d3ec;
}

.options-bar {
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.options-bar a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all .5s;
    font-size: 17px;
}

.options-bar a:first-child {
    color: #13d3ec;
}

hr {
    width: 30%;
    border: none;
    margin: 0.7rem 0 0 .5rem;
    height: .2rem;
    border-top: 1px solid #bbb;
}

.cont-title {
    display: flex;
    align-items: center;
    color:var(--verdeOscuro);
    font-size: 25px;
    margin-bottom: 2rem;
}

.cont-title h1 {
    margin: 0;
}

.options-bar a:hover {
    color: #13d3ec;
}

.home {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-home {
    width: 100%;
}

#photo-home img {
    width: 100%;
    height: 100vh;
}

#my-photo {
    position: absolute;
    margin-bottom: 11rem;
}

#my-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.cont-name {
    position: absolute;
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 11rem;
    text-align: center;
    color: white;
}

.cont-name .text-name {
    color: #13d3ec;
}

.cont-name picture {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.cont-name picture img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(104%) contrast(101%);
    padding-right: .3rem;
}

.cont-name picture a {
    text-decoration: none;
    color: white    ;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: .2rem;
    transition: transform .2s;
}

.cont-name picture a:hover {
    transform: scale(1.1);
    color: #13d3ec;
}

.cont-name picture a:hover > img {
    filter: invert(68%) sepia(96%) saturate(1399%) hue-rotate(137deg) brightness(98%) contrast(89%);
}

.cont-name h1 {
    margin: .5rem 0.5rem;
}

.about-me {
    width: 80%;
    margin: auto;
    opacity: 0;
    transition: all 2s;    
}

.cont-about {
    display: flex;
    gap: 2rem;
}

.cont-about .presentacion {
    width: 50%;
}

.cont-about .presentacion h2 {
    color: #368893;
}

.cont-about .skills {
    width: 50%;
    text-align: center;
}

.cont-about .skills h2 {
    color: #368893;
}

.cont-about .skills picture {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cont-about .skills picture img {
    margin-bottom: .5rem;
}

.cont-about .skills span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.proyects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    opacity: 0;
    transition: all 2s;
}

.proyects .container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.proyects .container-cards .cont-card {
    width: 330px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.proyects .container-cards .cont-card:hover > .card{
    transform: scale(1.5);
}

.proyects .container-cards .cont-card:hover > .card-second {
    transform: translateY(calc(-100% - 1.05rem));
}


.proyects .card{
    border-radius: 5px;
    background-color: rgb(172, 169, 169);
    background-color: black;
    transition: all 0.8s;
    display: flex;
    width: inherit;
    height: inherit;
}

.proyects .card span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.proyects .card span p {
    word-wrap: break-word;
    text-align: center;
    width: 10px;
    color: white;
}

.proyects .card .img-proy {
    width: 300px;
    height: 200px;
}

.proyects .card-second {
    width: 330px;
    height: 200px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    transition: all 0.8s;
}

.proyects .card-second h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.proyects .card-second button {
    font-family: 'Playfair Display', serif;
    border: none;
    border-radius: 3px;
    height: 1.8rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: color .3s;
}

.proyects .card-second button:hover {
    color: #13d3ec;
}

.proyects .card-second button:hover > picture img {
    filter: invert(68%) sepia(96%) saturate(1399%) hue-rotate(137deg) brightness(98%) contrast(89%);
}

.proyects .card-second picture {
    display: flex;
    gap: 6px;
    align-items: center;
}

.proyects .card-second img{
    width: 13px;
    height: 13px;
    color: #ffffff;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(104%) contrast(101%);
}

.information {
    background-color:rgb(214, 213, 213);
    display: flex;
    opacity: 0;
    color: white;
    transition: all 2s;
    text-align: center;
}

.information .cont-curriculum {
    width: 50%;
    height: 32.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #033F47;
}

.information .cont-curriculum .cont-text {
    background-color: #033F47;
    border: 8px solid #EFEEE5;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    cursor: pointer;
    font-size:x-large;
}

.information .cont-curriculum:hover > .cont-text{
    border-radius: 5px;
}

.information .cont-curriculum .cont-text a{
    text-decoration: none;
    color: #EFEEE5;
    font-size: xx-large;
}

.information .cont-contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEEE5;
}


.information .cont-contact .cont-text {
    background-color: #EFEEE5;
    border: 8px solid #033F47;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    font-size: x-large;
    cursor: pointer;
}

.information .cont-contact .cont-text p{
    text-decoration: none;
    color: #033F47;
    font-size: xx-large;
}

.information .cont-contact:hover > .cont-text{
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #060606;
    opacity: 0;
    color: white;
    transition: all 2s;
    text-align: center;
}

.footer p {
    margin: 0;
    padding-top: 0.7rem;
    font-size:small;
}

.footer #rights {
    padding-top: 0.5rem;
}

.footer .copy {
    margin: auto;   
    margin-top: 0;
}

.footer picture {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.footer img {
    width: 20px;
    height: 20px;
    color: #ffffff;
    cursor: pointer;
    filter: invert(54%) sepia(0%) saturate(23%) hue-rotate(141deg) brightness(89%) contrast(81%);
}

.footer img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(104%) contrast(101%);
}

@media screen and (max-width:1020px) {
    .cont-about .skills picture img {
        width: 4rem;
    }
}

@media screen and (max-width:860px) {
    .proyects .container-cards .cont-card {
        width: 280px;
        height: 170px;
    }
    .proyects .card{
        width: inherit;
        height: inherit;
    }
    .proyects .card .img-proy {
        width: 250px;
        height: 170px;
    }
    .proyects .card-second {
        width: 280px;
        height: 170px;
    }
    .information .cont-curriculum {
        height: 25rem;
    }
    .information .cont-contact {
        height: 25rem;
    }
}

@media screen and (max-width:745px) {
    .cont-about {
        flex-direction: column;
    }
    .cont-about .presentacion {
        width: 100%;
    }
    .cont-about .skills {
        width: 100%;
    }
    .cont-about .skills picture {
        gap: 2.3rem;
    }
}

@media screen and (max-width:730px) {
    .proyects .container-cards .cont-card {
        width: 400px;
        height: 250px;
    }
    .proyects .card .img-proy {
        width: 370px;
        height: 250px;
    }
    .proyects .card-second {
        width: 400px;
        height: 250px;
    }
    .proyects .container-cards .cont-card:hover > .card-second {
        transform: translateY(calc(-100% - 1.15rem));
    }
    .information .cont-curriculum .cont-text {
        width: 230px;
        height: 230px;
    }
    .information .cont-contact .cont-text {
        width: 230px;
        height: 230px;
    }
}

@media screen and (max-width:600px) {
    #my-photo img {
        width: 180px;
        height: 180px;
    }
    .cont-name {
        font-size: .8rem;
    }
    .menu-bar h1 {
        opacity: 0;
    }
    .menu-bar {
        justify-content: center;
    }
    .options-bar {
        gap: 4rem;
        margin-right: 0;
    }
}

@media screen and (max-width:500px) {
    .proyects .container-cards .cont-card {
        width: 330px;
        height: 200px;
    }
    .proyects .card .img-proy {
        width: 300px;
        height: 200px;
    }
    .proyects .card-second {
        width: 330px;
        height: 200px;
    }
    .information {
        flex-direction: column;
    }
    .information .cont-curriculum {
        width: 100%;
    }
    .information .cont-contact {
        width: 100%;
    }
    .information .cont-curriculum .cont-text {
        width: 300px;
        height: 300px;
    }
    .information .cont-contact .cont-text {
        width: 300px;
        height: 300px;
    }
    .options-bar {
        gap: 3rem;
    }
}

@media screen and (max-width:400px) {
    .proyects .container-cards .cont-card {
        width: 300px;
        height: 170px;
    }
    .proyects .card .img-proy {
        width: 270px;
        height: 170px;
    }
    .proyects .card-second {
        width: 300px;
        height: 170px;
    }
    .information .cont-curriculum .cont-text {
        width: 250px;
        height: 250px;
    }
    .information .cont-contact .cont-text {
        width: 250px;
        height: 250px;
    }
    .information .cont-curriculum {
        height: 22rem;
    }
    .information .cont-contact {
        height: 22rem;
    }
    .options-bar {
        gap: 2rem;
    }
}